<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <a routerLinkActive="router-link-active"
       routerLink="/recipe/create"
       class="btn btn-success">Add New Recipe
    </a>
  </div>
</div>

<h3>Recipe Read Component</h3>

<div class="media" *ngFor="let recipe of recipes">

  <div class="media-left">
    <a routerLinkActive="router-link-active"
       routerLink='/recipe/{{recipe.rid}}'>
      <img alt="{{recipe.name}}"
           class="media-object"
           src="{{recipe.image}}"
           style="width: 124px; height: 124px;"
           data-holder-rendered="true">
    </a>
  </div>

  <div class="media-body">
    <h3 class="media-heading">{{recipe.name}}</h3>
    <div class="auth-date" style="color: #7f7f7f">
      <!-- Рон Каленьюик / 25.03.17 18:45 -->
      {{recipe.author}} / {{recipe.published | date:'dd.MM.y HH:mm'}}
    </div> 
    <p>{{recipe.description}}</p>
    <!-- [Завтрак, Обед, Ужин] 
    <i class="fa fa-check-square-o fa-lg">
      <span *ngFor="let purose of recipe.shema.purposes">{{purpose.text}}</span>
    </i>
    -->
    <i class="fa fa-tags"></i>
  </div>

  <div class="media-footer">
    <div class="social">
      <!-- Категория -->
      <span *ngIf="recipe.shema?.category">
        <i class="fa fa-folder-o"> {{recipe.shema.category.text}}</i>
      </span>
      <!-- 8 порций -->
      <span *ngIf="recipe.shema?.yield">
        <i class="fa fa-cutlery"> {{recipe.shema.yield}}</i>
      </span>
      <!-- 1:30 -->
      <span *ngIf="recipe.shema?.totalTime">
        <i class="fa fa-clock-o"> {{recipe.shema.totalTime}}</i>
      </span>
      <!-- Итальянская -->
      <span *ngIf="recipe.shema?.cuisine">
        <i class="fa fa-globe"> {{recipe.shema.cuisine.text}}</i>
      </span>
      <!-- Сложность -->
      <span *ngIf="recipe.shema?.complexity">
        <i class="fa fa-signal"     > {{recipe.shema.complexity.text}}</i>
      </span>
      <!-- Стоимость -->
      <span *ngIf="recipe.shema?.cost">
        <i class="fa fa-credit-card"> {{recipe.shema.cost.text}}</i>
      </span>
      <!-- Диета -->
      <span *ngIf="recipe.shema?.diet">
        <i class="fa fa-heart-o" > {{recipe.shema.diet.text}}</i>
      </span>
      <!-- Калории calories -->
      <span *ngIf="recipe.shema?.calories">
        <i class="fa fa-fire"    > {{recipe.shema.calories}}</i>
      </span>
    </div>
  </div>
</div>

<!-- simple pager -->
<nav aria-label="...">
  <ul class="pager">
    <li [ngClass]="{disabled:page === 1}">
      <a (click)="setPage('previous')">
        <span aria-hidden="true">&larr;</span>Previous
      </a>
    </li>
    <li>
      <a (click)="setPage('next')">
        Next<span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>

<!-- pager
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
-->