<script type="application/ld+json">{{ JsonLD | json }}</script>

<div class="page-header">
  <h2>{{recipe.name}}</h2>
</div>

<div class="row">
  <div class="col-md-3 col-xs-6">
    <a class="thumbnail">
      <img class="img-rounded"
           src="{{recipe.image}}"
           alt="{{recipe.name}}">
    </a>
  </div>
  <div class="col-md-9">
    <p>{{recipe.description}}</p>
    <p>{{recipe.published | date:'dd.MM.y HH:mm'}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div *ngIf="recipe.shema?.category">
      <b>Категория:</b> {{recipe.shema.category.text}}
    </div>
    <div *ngIf="recipe.shema?.cuisine">
      <b>Кухня:</b> {{recipe.shema.cuisine.text}}
    </div>
    <div *ngIf="recipe.shema?.yield">
      <b>К-во порций:</b> {{recipe.shema.yield}}
    </div>
    <div *ngIf="recipe.shema?.prepTime">
      <b>Время подготовки:</b> {{recipe.shema.prepTime}}
    </div>
    <div *ngIf="recipe.shema?.totalTime">
      <b>Время приготовления:</b> {{recipe.shema.totalTime}}
    </div>
    <div *ngIf="recipe.shema?.complexity">
      <b>Сложность приготовления:</b> {{recipe.shema.complexity.text}}
    </div>
    <div *ngIf="recipe.shema?.cost">
      <b>Стоимость:</b> {{recipe.shema.cost.text}}
    </div>
    <div *ngIf="recipe.shema?.diet">
      <b>Для диеты:</b> {{recipe.shema.diet.text}}
    </div>
    <div *ngIf="recipe.shema?.purposes">
      <b>Тэги:</b>
      <span *ngFor="let purpose of recipe.shema.purposes">
         {{purpose.text}},
      </span>
    </div>
    <div *ngIf="recipe.shema?.methods">
      <b>Метод приготовления:</b>
      <span *ngFor="let method of recipe.shema.methods">
         {{method.text}},
      </span>
    </div>
    <div *ngIf="recipe.shema?.appliances">
      <b>Инвентарь:</b>
      <span *ngFor="let appliance of recipe.shema.appliances">
         {{appliance.text}},
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-rounded"
         alt="Banner_300x250"
         ng-reflect-src="images/banner_300x250.jpg"
         src="images/banner_300x250.jpg"
         ng-reflect-alt="Пицца &quot;Пальмовая роща&quot;"
         alt="Пицца &quot;Пальмовая роща&quot;"
    >
  </div>
</div>

<!-- INGREDIENTS -->
<div class="page-header"><h3>Ингредиенты</h3></div>

<div class="row" *ngIf="recipe?.ingredients">
  <div class="col-md-6">
    <div *ngFor="let i of recipe.ingredients; let indx = index">
      <span *ngIf="indx%2 == 1">
        <b>{{i.name.text}}</b> - {{i.amount}} {{i.measure.text}} <i>{{i.note}}</i>
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngFor="let i of recipe.ingredients; let indx = index">
      <span *ngIf="indx%2 == 0">
        <b>{{i.name.text}}</b> - {{i.amount}} {{i.measure.text}} <i>{{i.note}}</i>
      </span>
    </div>    
  </div>
</div>

<!-- INSTRUCTIONS -->
<div class="page-header"><h3>Инструкции</h3></div>

<div *ngIf="recipe?.instructions">
  <div *ngFor="let instruction of recipe.instructions">
    <p>{{instruction.step}}</p>
  </div>
</div>
