<div class="page-header">
  <h2>{{recipe.name}}</h2>
</div>

<div class="row">
  <div class="col-md-3 col-xs-6">
    <a class="thumbnail">
      <img class="img-rounded"
           src="{{recipe.image}}"
           alt="{{recipe.name}}">
    </a>
  </div>
  <div class="col-md-9">
    <p>{{recipe.description}}</p>
    <p>{{recipe.published | date:'dd.MM.y HH:mm'}}</p>
  </div>
</div>

<!-- Schema.org values
scotch.io/tutorials/angular-2-form-validation
*ngIf="!complexForm.controls['gender'].valid &&
        complexForm.controls['gender'].touched"
-->
<div class="row">
  <div class="col-md-6">
    <div *ngIf="recipe.shema?.category">
      <p><b>Категория:</b> {{recipe.shema.category.text}}</p>
    </div>
    <div *ngIf="recipe.shema?.cuisine">
      <p><b>Кухня:</b> {{recipe.shema.cuisine.text}}</p>
    </div>
    <div *ngIf="recipe.shema?.yield">
      <p><b>К-во порций:</b> {{recipe.shema.yield}}</p>
    </div>
    <div *ngIf="recipe.shema?.prepTime">
      <p><b>Время подготовки:</b> {{recipe.shema.prepTime}}</p>
    </div>
    <div *ngIf="recipe.shema?.totalTime">
      <p><b>Время приготовления:</b> {{recipe.shema.totalTime}}</p>
    </div>
    <div *ngIf="recipe.shema?.complexity">
      <p><b>Сложность приготовления:</b> {{recipe.shema.complexity.text}}</p>
    </div>
    <div *ngIf="recipe.shema?.cost">
      <p><b>Стоимость:</b> {{recipe.shema.cost.text}}</p>
    </div>
    <div *ngIf="recipe.shema?.diet">
      <p><b>Для диеты:</b> {{recipe.shema.diet.text}}</p>
    </div>
    <div *ngIf="recipe.shema?.purposes">
      <p *ngFor="let purpose of recipe.shema.purposes">
        <b>Тэги:</b> {{purpose.text}}
      </p>
    </div>
    <div *ngIf="recipe.shema?.methods">
      <p *ngFor="let method of recipe.shema.methods">
        <b>Метод приготовления:</b> {{method.text}}
      </p>
    </div>
    <div *ngIf="recipe.shema?.appliances">
      <p *ngFor="let appliance of recipe.shema.appliances">
        <b>Инвентарь:</b> {{appliance.text}}
      </p>
    </div>
  </div>
</div>

<!-- INGREDIENTS -->
<div class="page-header"><h3>Ингредиенты</h3></div>

<div class="row" *ngIf="recipe?.ingredients">
  <div class="col-md-6">
    <div *ngFor="let i of recipe.ingredients; let indx = index">
      <span *ngIf="indx%2 == 1">
        <b>{{i.name.text}}</b> - {{i.amount}} {{i.measure.text}} <i>{{i.note}}</i>
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngFor="let i of recipe.ingredients; let indx = index">
      <span *ngIf="indx%2 == 0">
        <b>{{i.name.text}}</b> - {{i.amount}} {{i.measure.text}} <i>{{i.note}}</i>
      </span>
    </div>    
  </div>
</div>

<!-- INSTRUCTIONS -->
<div class="page-header"><h3>Инструкции</h3></div>

<div *ngIf="recipe?.instructions">
  <div *ngFor="let instruction of recipe.instructions">
    <p>{{instruction.step}}</p>
  </div>
</div>
